body {
  font-family: 'Poiret One', cursive; }

.main-bg {
  background-image: url("../img/main-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh; }

.main-slogan {
  padding: 20% 30% 0 33%; }
  .main-slogan .logo {
    display: block;
    width: 600px;
    height: 115px;
    opacity: 0; }
  .main-slogan .slogan {
    display: block;
    width: 525px;
    height: 65px;
    margin: 20px 0 0 5%;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-delay: 1.8s;
    animation-fill-mode: both; }
  .main-slogan .slogan-line {
    opacity: 0;
    position: relative;
    top: -33px;
    left: 20px;
    width: 550px;
    height: 3px;
    border-top: 0;
    background: #77787a;
    border-radius: 4px;
    background: linear-gradient(to right, #77787a 0%, rgba(119, 120, 122, 0.66) 34%, rgba(192, 192, 192, 0.53) 47%, rgba(118, 118, 118, 0.42) 58%, rgba(118, 118, 118, 0) 100%);
    padding-right: 50%;
    background-origin: content-box;
    background-size: 300%; }
  .main-slogan .sticker {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 300px;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-delay: 1.8s;
    animation-fill-mode: both; }

.arrow {
  display: none;
  font-size: 4.0em;
  z-index: 2000;
  position: fixed;
  bottom: 0;
  right: 2%;
  color: #616161; }

.icon-box {
  opacity: 0;
  animation-delay: 1.8s;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 15%;
  margin: 10% 2% 0 0; }
  .icon-box img {
    width: 80%;
    height: 50px; }
  .icon-box .caption {
    display: block;
    color: #FFF;
    margin: 5px 0 0 0; }
  .icon-box:hover {
    content: "";
    border-bottom: 2px solid #FFF;
    cursor: pointer; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn-2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes slogan-line-anim {
  0% {
    background-position: 0% 0%;
    opacity: 0; }
  100% {
    background-position: -150% 0%;
    opacity: 1; } }
.fadeIn {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-fill-mode: both; }

.fadeIn-2 {
  animation-name: fadeIn-2;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-fill-mode: both; }

.sloganLineAnim {
  animation-name: slogan-line-anim;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: both; }

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  /* Black*/
  overflow-x: hidden;
  padding: 40px 0 0 0;
  transition: 0.5s; }
  .sidenav ul {
    padding: 0 0 0 20px; }
    .sidenav ul li {
      list-style-type: none; }
      .sidenav ul li a {
        padding: 0px 0 8px 8px;
        text-decoration: none;
        font-size: 2.0em;
        color: #FFFFFF;
        font-weight: bold;
        display: block;
        transition: 0.3s; }
        .sidenav ul li a:hover {
          content: "";
          border-bottom: 2px solid #FFF;
          width: 75%;
          color: #818181; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  color: #FFFFFF;
  font-size: 4.5em;
  font-weight: bold; }

#main {
  transition: margin-right 0.5s;
  padding: 20px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
/* menu icon */
.c-hamburger {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 3%;
  right: 3%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px;
  cursor: pointer;
  background-color: transparent; }

.menuline-1 {
  display: block;
  position: relative;
  top: 0px;
  height: 8px;
  max-width: 100%;
  background-color: white; }

.menuline-2 {
  display: block;
  position: relative;
  top: 10px;
  height: 8px;
  max-width: 100%;
  background-color: white; }

.menuline-3 {
  display: block;
  position: relative;
  top: 20px;
  height: 8px;
  max-width: 100%;
  background-color: white; }

.panel {
  height: 100vh;
  width: 100%; }
  .panel h2 {
    margin: 50px 0 5% 0;
    font-weight: bold;
    font-size: 3.0em; }
  .panel p {
    font-size: 1.5em; }
  .panel li {
    font-size: 1.5em; }

.flex-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0 0 0; }
  .flex-img img {
    width: 33.3%;
    height: 250px;
    margin: 0 2% 0 0; }

.about-section {
  background-color: #ddd; }

.about-section-two {
  background-color: #f1f1f1; }

.about-section-three {
  background-color: #CFCFCF; }

.about-section-four {
  background-color: #ddd; }

/*# sourceMappingURL=style.css.map */
